<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>filmedin7x7</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content='' name='description' />
    <meta content='' name='author' />
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/filmedin7x7-favicon.ico') }}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='navbar navbar-default navbar-static-top'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{{ url_for('static', filename='img/filmedin7x7.jpg') }}" alt="<%= listIcon %>" height="80" width="80" class="pull-left">
          <a class='navbar-brand' href='index.html'>filmedin7x7</a>
        </div>
      </div>
    </div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-4'>
          <div class='well'>
            <h4>
                Find Movies By Address/Location: <small>(<a id='find_me' href='#'>find me</a>)</small>
            </h4>
            <p>
              <input class='form-control' id='search_location' placeholder='Enter an address or an intersection' type='text' />
            </p>
            <h4>
                OR:
            </h4>
            <a class='btn btn-primary' id='search' href='#'>
              <i class='glyphicon glyphicon-search'></i>
              Find Nearest 7 Movie Locations To Me
            </a>
          </div>
          <div id='results_list_container' class='well'>
            <div id='results_list'></div>
          </div>
          <div id='results_info' class='well'>
              <div class='alert alert-info' id='result_box' ><strong id='result_count'></strong></div>
              <div class="pagination">
                <ul class="pagination">
                </ul>
              </div>
          </div>
        </div>
        <div class='col-md-8'>
          <noscript>
            <div class='alert alert-info'>
              <h4>Your JavaScript is disabled</h4>
              <p>Please enable JavaScript to view the map.</p>
            </div>
          </noscript>
          <div id='map_canvas'></div>
          </div>
      </div>
    </div>
    <script id="paginationTemplate" type="text/template">
        <% if (prev != 0) { %>
            <li>
                <a id="<%= prev %>">
                    «
                </a>
            </li>
        <% } %>
        <% if (prev == 0) { %>
            <li class="disabled">
                <a id="0">
                    «
                </a>
            </li>
        <% } %>
        <% _.each(parray, function(page){ %>
            <% if (page == current) { %>
                <li class="active">
                    <a id="<%= page %>">
                        <%= page %>
                    </a>
                </li>
            <% } %>
            <% if (page != current) { %>
                <li>
                    <a id="<%= page %>">
                        <%= page %>
                    </a>
                </li>
            <% } %>
        <% }); %>
        <% if (next != 0) { %>
            <li>
                <a id="<%= next %>">
                    »
                </a>
            </li>
        <% } %>
        <% if (next == 0) { %>
            <li class="disabled">
                <a id="0">
                    »
                </a>
            </li>
        <% } %>
    </script>
    <script id="movieLocationTemplate" type="text/template">
        <img src="{{ url_for('static', filename='img/') }}<%= listIcon %>" alt="<%= listIcon %>" height="40" width="40" class="pull-left">
        <div class="span12">
          <strong><%= Title %></strong>
          <br/><%= Locations %><br/><br/>
        </div>
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.address.js') }}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&v=3.14"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.geocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/maps_lib.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/models/movieLocation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/models/resultsPaginator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/collections/movieLocations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/collections/7MovieLocationsNearMe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/movieLocation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/movieLocations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/movieLocationsNearMe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/resultsPaginator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/mapMovieLocations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/mapNearestLocationsToMe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/movieLocationsSearch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/movieLocationsSearchNearMe.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type='text/javascript'>
      //<![CDATA[
        $(window).resize(function () {
          var h = $(window).height(),
            offsetTop = 105; // Calculate the top offset
        
          $('#map_canvas').css('height', (h - offsetTop));
        }).resize();
        
        $(function() {
            MapsLib.initialize();
        });
      //]]>
    </script>
  </body>
</html>
